body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.interface {
  display: flex;
  
  width: 100%;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}
.primary-container {
  word-wrap: normal;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2rem;
  padding: 1rem;
  margin: 2rem;
}

.secondary-container {
  margin-top: 7rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: left;
  flex: 1 0 50%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2rem;
  padding: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.action-button {
  padding: 0.35rem 1.2rem;
  border: 0.1rem solid white;
  margin: 0 0.3rem 0.3rem 0;
  border-radius: 0.12rem;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  transition: all 0.3s;
  background-color: rgba(169, 169, 169, 0.7);
}

.action-button:hover {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.action-button + .action-button {
  margin-top: 1rem;
}
#map {
  border: 1px solid white;
  
}

.original-map {
  background-image: url('./Images/map.png');
  background-size: cover;
}

.win-map {
  background-image: url('./Images/win_map.png');
  background-size: cover;
}

.title {
  font-size: 2rem;
  margin: 2rem;
}

.speak {
  font-size: 1.5rem;
  margin: 2rem;
}

/* Beginning of custom styles */

#ask-player-name-modal {
  display: 'none';
}

#alert-empty-player-name {
  display: 'none';
  margin: 0.5rem 0rem;
  font-style: italic;
  font-weight: bold;
  color: red;
  text-shadow: 0px 0px 2px white;
}

#ask-player-name-modal-group {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  height: 60%;
  justify-content: center;
  align-items: center;
}

.close-modal {
  float: right;
  margin-top: -0.8rem;
  margin-right: 0.2rem;
  color: #990000;
  font-size: 2rem;
  font-weight: bolder;
}

.close-modal:hover {
  text-shadow: 0px 0px 4px #800000;
  color: #cc0000;
  cursor: pointer;
}

.modal-title {
  font-size: 2rem;
  margin: 0.5rem;
  text-align: center;
}

.modal {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7)
}

.modal-body {
  position: absolute;
  top: 30%;
  left: 10%;
  margin: auto auto;
  width: 80%;
  height: 50%;
  background-color: dimgray;
  border: 6px solid #990000;
  padding: 1rem;
  color: ghostwhite;
  border-radius: 20px;
}

.modal-input-label {
  font-weight: bold;
  margin-right: 0.4rem;
}

.modal-input {
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.modal-input:focus {
  outline: none;
  box-shadow: 0px 0px 3px black;
}

.input-group {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.confirm-button {
  margin: 1rem;
  padding: 1rem;
  border: solid 2px #009900;
  border-radius: 1.5rem;
  background-color: #008000;
  color: white;
  font-weight: bold;
  box-shadow: 0.2rem;
  transition-duration: 0.2s;
}

.confirm-button:hover {
  border: solid 2px #009900;
  background-color: #00b300;
  cursor: pointer;
}

#inventory {
  margin: 1rem;
  text-align: left;
  background-color: #664400cc;
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  display: none;
}

#inventory-title {
  margin: 0rem;
  text-align: center;
}

.item-button {
  margin: 0.6rem;
  padding: 0.6rem;
  border: solid 2px #404040;
  border-radius: 1rem;
  background-color: dimgray;
  color: ghostwhite;
  font-weight: bold;
  box-shadow: 0.2rem;
  transition-duration: 0.2s;
}

.item-button:hover {
  border: solid 2px #009900;
  background-color: #008000;
  cursor: pointer;
}

.item-button-used:hover {
  background-color: rgba(90,90,90,0.8);
  color: rgba(125,125,125,0.9);
  border-color: rgba(150,0,0,0.8);
  cursor: not-allowed;
}

#actions-title {
  text-align: center;
  margin: 0.4rem;
}

#parameters {
  position: absolute;
  display: flex;
  right: 2em;
  top: 2em;
}

.parameter-button {
  margin: 0.4rem;
  padding: 0.4rem;
  border: solid 2px silver;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: dimgray;
  color: ghostwhite;
  font-weight: bold;
  box-shadow: 0.2rem;
}

.parameter-button:hover {
  background-color: rgb(155,155,155);
  color: white;
  border-color: rgb(90,90,90);
  cursor: pointer;
}

.parameter-button:focus {
  outline: none;
}

/* background images */
.room1 {
  background-image: url('./Images/room1.jpg');
}

.room2 {
  background-image: url('./Images/room2_back.jpg');
}

.room3 {
  background-image: url('./Images/room3.jpg');
}

.room4 {
  background-image: url('./Images/room4.jpg');
}

.room5 {
  background-image: url('./Images/room5.jpg');
}

.room6 {
  background-image: url('./Images/room6_back.jpg');
}

.room7 {
  background-image: url('./Images/room7.jpg');
}

.win {
  background-image: url('./Images/win.jpg');
}

/* mobile overrides */
@media only screen and (max-width: 50rem) {
  .interface {
    flex-direction: column;
    align-items: center;
  }

  .primary-container {
    margin-bottom: 0rem;
  }

  .secondary-container {
    margin-top: 0rem;
    text-align: center;
  }

  #parameters {
    flex-direction: column;
  }
}
